################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TyMD380tools/v15/Browse.VC.db
/.vs/TyMD380tools/v15/Browse.VC.opendb
/.vs/TyMD380tools/v15/ipch/AutoPCH/TYMD380TOOLS-ff7ab6f/TIMER-bd3818e3/TIMER.ipch
